.mediaViewInfo {
	--web-view-name: Android Mobile – 1;
	--web-view-id: Android_Mobile__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Android_Mobile__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Android_Mobile__1 {
	position: absolute;
	width: 360px;
	height: 640px;
	background-color: #85b2dfad;
	overflow: hidden;
	--web-view-name: Android Mobile – 1;
	--web-view-id: Android_Mobile__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 54px;
	left: 0px;
	top: 0px;
}
#Weather_Status {
	left: 37px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Icon_metro-weather {
	fill: rgba(0,0,0,1);
}
.Icon_metro-weather {
	overflow: visible;
	position: absolute;
	width: 25.064px;
	height: 25.064px;
	left: 223.936px;
	top: 14px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-weather3 {
	fill: rgba(0,0,0,1);
}
.Icon_metro-weather3 {
	overflow: visible;
	position: absolute;
	width: 30.849px;
	height: 23.136px;
	left: 292.151px;
	top: 15.432px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-weather5 {
	fill: rgba(0,0,0,1);
}
.Icon_metro-weather5 {
	overflow: visible;
	position: absolute;
	width: 30.849px;
	height: 30.849px;
	left: 259px;
	top: 12px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_m {
	fill: url(#Rectangle_2_m);
	stroke: #ffffff;
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_m {
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 121px;
	left: 37px;
	top: 147px;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 286px;
	height: 211px;
	left: 37px;
	top: 320px;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 286px;
	height: 53px;
	left: 37px;
	top: 74px;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 115px;
	left: 0px;
	top: 566px;
}
#Icon_awesome-github-square {
	fill: rgba(0,0,0,1);
}
.Icon_awesome-github-square {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 31.5px;
	left: 40px;
	top: 599px;
	transform: matrix(1,0,0,1,0,0);
}
#View_Source_on_Github {
	left: 84px;
	top: 602px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Location {
	left: 56px;
	top: 87px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#C {
	left: 125px;
	top: 172px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	color: rgba(255,255,255,1);
}
#Feels_Like {
	left: 64px;
	top: 357px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Humidity {
	left: 192px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#Pressure {
	left: 189px;
	top: 436px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#reboot13 {
	left: 125px;
	top: 575px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(54,138,248,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 211px;
	left: 180.5px;
	top: 320.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 143px;
	height: 1px;
	left: 180.5px;
	top: 425.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Value {
	left: 58px;
	top: 186px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_1 {
	position: absolute;
	width: 132.485px;
	height: 131px;
	left: 196.413px;
	top: 142px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,136,0,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 27.976px;
	height: 26.372px;
	left: 80.037px;
	top: 30.99px;
}
#Path_1 {
	fill: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 0.191px;
	height: 0.187px;
	left: 132.294px;
	top: 53.819px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(230,230,230,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 7.3px;
	height: 33.469px;
	left: 38.555px;
	top: 50.576px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(230,230,230,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 8.835px;
	height: 18.267px;
	left: 34.563px;
	top: 65.778px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	fill: rgba(230,230,230,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 6.364px;
	height: 29.179px;
	left: 76.828px;
	top: 62.911px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(230,230,230,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 7.702px;
	height: 15.925px;
	left: 78.971px;
	top: 76.165px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
	fill: rgba(0,191,57,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 5.747px;
	height: 3.234px;
	left: 23.243px;
	top: 8.941px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: rgba(0,191,57,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 5.747px;
	height: 3.234px;
	left: 92.638px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: rgba(0,191,57,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 45.265px;
	height: 48.35px;
	left: 84.716px;
	top: 68.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
	fill: rgba(22,87,67,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 43.923px;
	height: 43.201px;
	left: 85.898px;
	top: 74.57px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	fill: rgba(0,191,57,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 112.625px;
	height: 53.447px;
	left: 5.332px;
	top: 77.233px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(22,87,67,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 107.379px;
	height: 48.873px;
	left: 7.723px;
	top: 82.104px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
	fill: rgba(0,191,57,1);
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 82.416px;
	height: 24.978px;
	left: 14.485px;
	top: 106.02px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
	fill: rgba(22,87,67,1);
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 71.265px;
	height: 20.243px;
	left: 18.969px;
	top: 110.758px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
	fill: rgba(230,230,230,1);
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 98.812px;
	height: 26.972px;
	left: 20.396px;
	top: 9.911px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
	fill: rgba(0,191,57,1);
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 28.503px;
	height: 55.015px;
	transform: translate(22.259px, 0px) matrix(1,0,0,1,-17.6043,17.1014) rotate(-10.221deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_15 {
	fill: rgba(22,87,67,1);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 13.272px;
	height: 63.856px;
	left: 12.796px;
	top: 25.214px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
	fill: rgba(22,87,67,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 1.315px;
	height: 14.578px;
	transform: translate(22.259px, 0px) matrix(1,0,0,1,-10.6991,36.2414) rotate(-72.079deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_21 {
	fill: rgba(22,87,67,1);
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 14.347px;
	height: 1.497px;
	transform: translate(22.259px, 0px) matrix(1,0,0,1,-3.1932,43.7132) rotate(-38.378deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Ellipse_3 {
	fill: rgba(0,191,57,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 30.892px;
	height: 59.417px;
	left: 45.933px;
	top: 7.486px;
}
#Path_16 {
	fill: rgba(22,87,67,1);
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 3.967px;
	height: 70.196px;
	left: 58.749px;
	top: 15.626px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(22,87,67,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 1.544px;
	height: 15.667px;
	transform: translate(22.259px, 0px) matrix(1,0,0,1,31.4443,27.0017) rotate(-61.858deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_23 {
	fill: rgba(22,87,67,1);
}
.Path_23 {
	overflow: visible;
	position: absolute;
	width: 15.667px;
	height: 1.544px;
	transform: translate(22.259px, 0px) matrix(1,0,0,1,39.125,37.5926) rotate(-28.158deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_17 {
	fill: rgba(230,230,230,1);
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 98.152px;
	height: 20.472px;
	left: 30.319px;
	top: 38.661px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
	fill: rgba(0,191,57,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 5.747px;
	height: 3.234px;
	left: 79.371px;
	top: 23.052px;
	transform: matrix(1,0,0,1,0,0);
}
#name {
	left: 160.5px;
	top: 86.5px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: #1c70dd;
}
#temp {
	left: 80.5px;
	top: 417.5px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: #1c70dd;
}
#humidity {
	left: 203px;
	top: 370px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(3,129,255,1);
}
#pressure {
	left: 202px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	color: rgba(3,129,255,1);
}

a:visited{
	color:#1c70dd;
}
a{
	color: #1c70dd;
}
